#  Loading the Dataset

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("heart_failure_clinical_records.csv")

In [3]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,55.0,0,748,0,45,0,263358.03,1.3,137,1,1,88,0
1,65.0,0,56,0,25,0,305000.00,5.0,130,1,0,207,0
2,45.0,0,582,1,38,0,319000.00,0.9,140,0,0,244,0
3,60.0,1,754,1,40,1,328000.00,1.2,126,1,0,90,0
4,95.0,1,582,0,30,0,461000.00,2.0,132,1,0,50,1

# Finding the Missing Values

In [4]:
data.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [5]:
data.info

<bound method DataFrame.info of        age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0     55.0        0                       748         0                 45
1     65.0        0                        56         0                 25
2     45.0        0                       582         1                 38
3     60.0        1                       754         1                 40
4     95.0        1                       582         0                 30
...    ...      ...                       ...       ...                ...
4995  45.0        0                       582         1                 55
4996  60.0        1                       582         0                 30
4997  95.0        1                       112         0                 40
4998  65.0        1                       160         1                 20
4999  40.0        0                       244         0                 45

      high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                       0  263358.03               1.3           137    1
1                       0  305000.00               5.0           130    1
2                       0  319000.00               0.9           140    0
3                       1  328000.00               1.2           126    1
4                       0  461000.00               2.0           132    1
...                   ...        ...               ...           ...  ...
4995                    0  543000.00               1.0           132    0
4996                    1  127000.00               0.9           145    0
4997                    1  196000.00               1.0           138    0
4998                    0  327000.00               2.7           116    0
4999                    1  275000.00               0.9           140    0

      smoking  time  DEATH_EVENT
0           1    88            0
1           0   207            0
2           0   244            0
3           0    90            0
4           0    50            1
...       ...   ...          ...
4995        0   250            0
4996        0    95            0
4997        0    24            1
4998        0     8            1
4999        0   174            0

[5000 rows x 13 columns]>

In [6]:
data.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,60.288470,0.474400,586.760600,0.439400,37.734600,0.364800,265075.404370,1.369106,136.808200,0.645600,0.311800,130.678800,0.313600
std,11.697242,0.499394,976.733979,0.496364,11.514855,0.481422,97999.758622,1.009750,4.464236,0.478379,0.463275,77.325928,0.464002
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.500000,113.000000,0.000000,0.000000,4.000000,0.000000
25%,50.000000,0.000000,121.000000,0.000000,30.000000,0.000000,215000.000000,0.900000,134.000000,0.000000,0.000000,74.000000,0.000000
50%,60.000000,0.000000,248.000000,0.000000,38.000000,0.000000,263358.030000,1.100000,137.000000,1.000000,0.000000,113.000000,0.000000
75%,68.000000,1.000000,582.000000,1.000000,45.000000,1.000000,310000.000000,1.400000,140.000000,1.000000,1.000000,201.000000,1.000000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.400000,148.000000,1.000000,1.000000,285.000000,1.000000

In [7]:
data.head(1)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,55.0,0,748,0,45,0,263358.03,1.3,137,1,1,88,0

In [8]:
x=data.drop('DEATH_EVENT',axis=1)

In [9]:
y=data['DEATH_EVENT']

In [10]:
from sklearn.model_selection import train_test_split

F:\conda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [12]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
model=DecisionTreeClassifier()

In [15]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [16]:
pred=model.predict(xtest)

In [25]:
from sklearn.model_selection import cross_val_score

In [26]:
score = cross_val_score(model,pred,ytest, cv=10)

In [29]:
print(f"Average Accuracy (cross-validation): {score.mean():.4f}")

Average Accuracy (cross-validation): 0.9860