In [1]:
import pandas as pd

In [8]:
data=pd.read_csv("realest.csv")

In [9]:
data.head()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

In [13]:
data.isnull().sum()

Price         1
Bedroom       1
Space        11
Room          1
Lot          11
Tax          10
Bathroom      1
Garage        1
Condition     1
dtype: int64

In [14]:
data['Price'].fillna(data['Price'].mean(),inplace=True)

In [17]:
data['Bedroom'].fillna(data['Bedroom'].mean(),inplace=True)
data['Space'].fillna(data['Space'].mean(),inplace=True)
data['Room'].fillna(data['Room'].mean(),inplace=True)
data['Lot'].fillna(data['Lot'].mean(),inplace=True)
data['Tax'].fillna(data['Tax'].mean(),inplace=True)
data['Bathroom'].fillna(data['Bathroom'].mean(),inplace=True)
data['Garage'].fillna(data['Garage'].mean(),inplace=True)
data['Condition'].fillna(data['Condition'].mean(),inplace=True)

In [18]:
data.isnull().sum()

Price        0
Bedroom      0
Space        0
Room         0
Lot          0
Tax          0
Bathroom     0
Garage       0
Condition    0
dtype: int64

In [38]:
data = data.apply(lambda x: round(x))

In [40]:
data=data.astype(int)

In [41]:
data.head()

   Price  Bedroom  Space  Room  Lot   Tax  Bathroom  Garage  Condition
0     53        2    967     5   39   652         2       0          0
1     55        2    815     5   33  1000         1       2          1
2     56        3    900     5   35   897         2       1          0
3     58        3   1007     6   24   964         2       2          0
4     64        3   1100     7   50  1099         2       2          0

In [42]:
x=data.drop("Price",axis=1)
y=data["Price"]

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
model=LinearRegression()

In [47]:
model.fit(xtrain,ytrain)

LinearRegression()

In [48]:
pred=model.predict(xtest)

In [54]:
from sklearn.metrics import mean_squared_error

In [55]:
mean_squared_error(ytest,pred)

92.96033892281409

In [49]:
data.head()

   Price  Bedroom  Space  Room  Lot   Tax  Bathroom  Garage  Condition
0     53        2    967     5   39   652         2       0          0
1     55        2    815     5   33  1000         1       2          1
2     56        3    900     5   35   897         2       1          0
3     58        3   1007     6   24   964         2       2          0
4     64        3   1100     7   50  1099         2       2          0

In [58]:
model.predict([[2,1000,6,45,300,1,2,1]])

F:\conda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([57.30445568])